body{
  text-align: center;
}
.first-section{
  text-align: center;
  background-image: url(./images/h_img.jpg);
  padding-bottom: 20%;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  float: none;
}
.second-section{
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  float: none;
}
.third-section{
  text-align: center;
  background-image: url(./images/s_image.jpg);
padding-bottom: 20%;
  margin:0;
  width:100%;
  height:100%;
  align-items: center;
  float: none

}
.forth-section{
  margin-left:
}
.fifth-section{
  text-align: center;
  margin: 0;
  padding: 0;

}
h3{
  text-align: center;
}
