body{
  text-align: center;
  margin: 0;
  padding: 0;
}
.first-section{
  background-image: url(./images/h_img.jpg);
  text-align: center;
  color: white;
  padding-bottom: 100px;
  padding-top: 100px;
}
.second-section{
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
.third-section{
  text-align: center;
  background-image: url(./images/s_image.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  margin-top: 30px;

}
.forth-section{
  padding-top: 50px;
  padding-bottom: 100px;
}
.fifth-section{
  text-align: center;

}
h3{
  text-align: center;
}
.sixth-section{
  background-image: url(./images/c_image.jpg);
  column-fill: balance;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 100px;
}
.seventh-section{
  padding-top: 30px;
  text-align: center;
}

.form-control{
  background:transparent;
}
.form-control::placeholder{
  color: white;
  opacity: 1;

}
.sixth-section input{
  background-color: transparent;
}
.sixth-section textarea{
  background-color: transparent;
}
#overlay1{
  background-color: grey;
}

.development-practice, .management-practice, .design-practice {
  display: none;
}
